<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <file>../src/System/Random.php</file>
                <file>../src/System/DefaultRandom.php</file>
                <file>../src/System/Clock.php</file>
                <file>../src/System/DefaultClock.php</file>
                <file>../src/Log/Logger.php</file>
                <file>../src/Log/LogFormat.php</file>
                <file>../src/Log/LogStorage.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
